.white-box
  = simple_form_for(@trailhead, role: 'form') do |f|
    = f.error_notification

    .form-inputs.block
      .form-group
        = f.input :name
      .form-group
        = f.input :latitude
      .form-group
        = f.input :longitude
      .form-group   
        .photo-box
          = image_tag(@trailhead.photo.url(:small), class: "img-responsive img-polaroid") if @trailhead.photo?

        = f.input :photo, as: :file
        .attribute
          = f.input :remove_photo, as: :boolean, label: false, inline_label: true
      .form-group.attribute
        = f.input :parking, inline_label: true, label: false
        = f.input :drinking_water, label: false, inline_label: true
        = f.input :restrooms, label: false, inline_label: true
        = f.input :kiosk, label: false, inline_label: true

    .form-actions.text-center
      = f.button :submit, class: 'btn btn-primary btn-lg btn-block'
      = link_to "Cancel", @trailhead, class: 'btn btn-lg btn-default btn-block'