
.white-box
  %h3 Location
  .trailhead-map(id="trailhead-map-#{@trailhead.id || 'null'}")
  %pre#coordinates.ui-coordinates
  %p
    = link_to "Use My Current Location", '#', class: 'btn btn-lg btn-primary btn-block', id: 'geolocate'
  %p#geolocate-error
    Geolocation failed. Check your privacy settings on your phone to make sure Location Services are enabled for this brower, then try again.
  = simple_form_for(@trailhead, role: 'form', html: {multipart: true}) do |f|
    = f.error_notification

    .form-inputs.block
      .form-group
        = f.input :name
      .form-group
        = f.input :latitude
      .form-group
        = f.input :longitude
      .form-group
        %h3
          Photo
        .photo-box
          = image_tag(@trailhead.photo.url(:small), class: "img-responsive img-polaroid") if @trailhead.photo?

        %h4#photo-filename

        = f.input :photo, as: :file, label: false

        = link_to "Choose a photo", "", class: 'btn btn-lg btn-primary btn-block', id: 'photo-button'

        .attribute
          = f.input :remove_photo, as: :boolean, label: false, inline_label: true
      .form-group.attribute
        %h3 Attributes
        = f.input :parking, inline_label: true, label: false
        = f.input :drinking_water, label: false, inline_label: true
        = f.input :restrooms, label: false, inline_label: true
        = f.input :kiosk, label: false, inline_label: true

    .form-actions.text-center
      = f.button :submit, class: 'btn btn-primary btn-lg btn-block'
      = link_to "Cancel", @trailhead, class: 'btn btn-lg btn-default btn-block'

:javascript
  currentTrailhead = {
    latitude: #{@trailhead.latitude},
    longitude: #{@trailhead.longitude},
    id: #{@trailhead.id || 'null'}
  };