= simple_form_for(@trailhead) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :latitude
    = f.input :longitude
    = image_tag(@trailhead.photo_url) if @trailhead.photo?
    = f.input :photo, as: :file
    = f.check_box :remove_photo
    Remove photo
    = f.input :parking
    = f.input :drinking_water
    = f.input :restrooms
    = f.input :kiosk

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
