.col-sm-4
  .trailhead-box
    %h3.text-center
      - if trailhead.display_name.present?
        = link_to trailhead.display_name, trailhead
      - else
        = link_to 'Unnamed Trailhead', trailhead
    %hr
    - if trailhead.photo.url.present?
      .photo-box
        = link_to trailhead do
          = image_tag (trailhead.photo.url(:small_square) || "trailheadit_hq.jpg"), class: "img-responsive"
    - else
      .text-center
        %i
          No Photo Available

    %hr
    %ul
      %li
        %h4
          - if trailhead.social
            This might be a social trail.
      %li
        %h4
          - if trailhead.restrooms
            Restrooms available on site.
          - else
            .no="No restrooms available here"
      %li
        %h4
          - if trailhead.drinking_water
            ="There is drinking water on site"
          - else
            .no="No drinking water is available here"
      %li
        %h4
          - if trailhead.parking
            ="There is parking on site"
          - else
            .no="No parking is available here"
      %li
        %h4
          - if trailhead.kiosk
            ="There is trail information present on site"
          - else
            .no="No information is available here"

    -# %hr
    -# .row
    -#   .col-xs-6
    -#     = link_to 'Edit', edit_trailhead_path(trailhead), class: "btn btn-primary btn-block"
    -#   .col-xs-6
    -#     = link_to 'Delete', trailhead, :method => :delete, class: "btn btn-danger btn-block"
    %hr
    .row
      .col.sm-12.col-md-12.text-caps
        %h5
          = link_to (trailhead.address || trailhead.latlng), "http://maps.google.com?q=#{trailhead.latlng}"

        .text-muted
          Added
          - if trailhead.user
            By
            = link_to trailhead.user, trailhead.user

          = time_ago_in_words trailhead.created_at
          ago
        %br
          = link_to "Directions", "http://www.google.com/maps/dir/Current+Location/#{trailhead.latlng}", class: 'btn btn-block btn-default'
          = link_to "Details", trailhead, class: 'btn btn-block btn-default'
          = link_to "OuterSpatial", "http://www.outerspatial.com/trailheads/#{trailhead.id}/traileditor", class: 'btn btn-block btn-default'