.container
  .row
    .col-md-6.col-offset-3
      %h3 Trailhead 
      - if @trailhead.user
        %h4 from #{@trailhead.user.try :email}

      = render 'form'

      %h3
        Debug
      %pre
        = JSON.pretty_generate(JSON.parse(@trailhead.to_json))

      = link_to 'Show', @trailhead
      \|
      = link_to 'Back', trailheads_path
