%h1 Listing trailheads

%table.table.table-striped
  %tr
    %th Name
    %th Latitude
    %th Longitude
    %th Photo
    %th Parking
    %th Drinking water
    %th Restrooms
    %th Kiosk
    %th
    %th
    %th

  - @trailheads.each do |trailhead|
    %tr
      %td= trailhead.name
      %td= trailhead.latitude
      %td= trailhead.longitude
      %td= trailhead.photo
      %td= trailhead.parking
      %td= trailhead.drinking_water
      %td= trailhead.restrooms
      %td= trailhead.kiosk
      %td= link_to 'Show', trailhead
      %td= link_to 'Edit', edit_trailhead_path(trailhead)
      %td= link_to 'Destroy', trailhead, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Trailhead', new_trailhead_path
