.row
  %div.col-md-12.headline
    %h1 Trailheads You've Photographed

.row
  .col-md-4
    .header-button
      = link_to "Download OpenTrails Data (GeoJSON)", trailheads_path(format: :json), class: "btn btn-primary btn-block"
  .col-md-4      
    .header-button
      %div.btn.btn-primary.btn-block Share Trailheads with Park Agencies
  .col-md-4
    .header-button
      = link_to 'Document a new Trailhead', new_trailhead_path, class: "btn btn-primary btn-block"

.row
  %div.col-md-4.column-header
    %h2.h3 Trailhead Photo
  %div.col-md-4.column-header
    %h2.h3 Location
  %div.col-md-4.column-header
    %h2.h3 Attributes

- @trailheads.each do |trailhead|      
  .row    
    .col-md-4
      .photo-box
        = image_tag (trailhead.photo.url(:small) || "trailheadit_hq.jpg"), class: "img-responsive img-thumbnail"
    .col-md-4.location-box
      .trailhead-map(id="trailhead-map-#{trailhead.id}")
      :javascript
        var myMap = L.mapbox.map('trailhead-map-#{trailhead.id}', 'jerememonteau.holfp9ah')
        myMap.setView([#{trailhead.latitude}, #{trailhead.longitude}], 18);
        var marker = L.marker([#{trailhead.latitude}, #{trailhead.longitude}]).addTo(myMap);

    .col-md-4
      %h3.text-center= trailhead.name
      %h5.text-center
        Taken
        - if trailhead.user
          by
          = link_to trailhead.user, trailhead.user

        = time_ago_in_words (trailhead.taken_at || trailhead.created_at)
        ago
        
      %ul
        %li
          - if trailhead.restrooms
            ="Restrooms available on site"
          - else
            ="No restrooms available here"
        %li
          - if trailhead.drinking_water
            ="There is drinking water on site"
          - else
            ="No drinking water is available here"
        %li
          - if trailhead.parking
            ="There is parking on site"
          - else
            ="No parking is available here"
        %li
          - if trailhead.kiosk
            ="There is trail information present on site"
          - else
            ="No information is available here"
      %br
      = link_to 'Edit', edit_trailhead_path(trailhead), class: "btn btn-primary btn-block"
  
      = link_to 'Delete', trailhead, :method => :delete, class: "btn btn-danger btn-block"
  .row    
    .col-md-12
      %hr 
%br
