
- trailhead = @trailhead
- content_for :title do
  = ['Trail Editor : Trailhead',trailhead.name,trailhead.address].compact().join(" : ")

.row
  .col-md-8.col-md-offset-2    
    .trailhead-box 
      .row
        .col-xs-8
          %h2= trailhead.display_name      
          - if trailhead.user
            %h4
              = link_to trailheads_path(user_id:trailhead.user.id) do
                #{trailhead.user}                

        .col-xs-4.text-right
          :erb
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this trailhead!" data-size="large" data-count="none" data-hashtags="traileditor">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      
      %hr
      -# %hr
      .photo-box
        = link_to trailhead.photo.url(:oriented) do
          = image_tag (trailhead.photo.url(:large) || "trailheadit_hq.jpg"), class: "img-responsive"
      .share.text-center

      .trailhead-map(id="trailhead-map-#{trailhead.id}")
      :javascript
        var myMap = L.mapbox.map('trailhead-map-#{trailhead.id}', 'jerememonteau.holfp9ah')
        myMap.setView([#{trailhead.latitude}, #{trailhead.longitude}], 15);
        var marker = L.marker([#{trailhead.latitude}, #{trailhead.longitude}]).addTo(myMap);
      .row
        .col-xs-6
          = trailhead.address
          .text-muted                    
            = trailhead.latlng
          
        .col-xs-6.text-right
          = link_to "OpenStreetMap", "http://www.openstreetmap.org/?mlat=#{trailhead.latitude}&mlon=#{trailhead.longitude}#map=15/#{trailhead.latitude}/#{trailhead.longitude}", target: :blank, class: "btn btn-primary"
          = link_to "Google Maps", "http://maps.google.com?q=#{trailhead.latlng}", target: :blank, class: "btn btn-primary"
      %hr
      %ul
        %li
          %h4
            - if trailhead.restrooms
              ="Restrooms available on site"
            - else
              .no="No restrooms available here"
        %li
          %h4
            - if trailhead.drinking_water
              ="There is drinking water on site"
            - else
              .no="No drinking water is available here"
        %li
          %h4
            - if trailhead.parking
              ="There is parking on site"
            - else
              .no="No parking is available here"
        %li
          %h4
            - if trailhead.kiosk
              ="There is trail information present on site"
            - else
              .no="No information is available here"

      %hr
      .row
        .col-xs-12
          = link_to 'Edit', edit_trailhead_path(trailhead), class: "btn btn-primary btn-block"
        -# .col-xs-6
        -#   = link_to 'Delete', trailhead, :method => :delete, class: "btn btn-danger btn-block"
      %hr
      .row
        .col.sm-12.col-md-6.text-caps
          .text-muted
            Added          
            = time_ago_in_words trailhead.created_at
            ago
    - if params[:debug]    
      %h3
        Debug
      %pre
        = JSON.pretty_generate(JSON.parse(@trailhead.to_json))

