%br
%br
%hr.dark
.row
  .col-sm-12
    .landing.text-center
      %h3
        Hacked Together For
      %h2
        = link_to "The National Day of Civic Hacking 2014", "http://www.hackforchange.org"
      %br
      %h3 With Love From
      %br
.row
  .col-xs-4.col-sm-2.col-sm-offset-3
    = link_to "http://www.trailheadlabs.com" do
      = image_tag "thl_profile.png", class: "img-responsive"
  .col-xs-4.col-sm-2
    = link_to "http://www.codeforportland.org" do
      = image_tag "pdx_profile.png", class: "img-responsive"
  .col-xs-4.col-sm-2
    = link_to "http://www.codeforamerica.org" do
      = image_tag "cfa_profile.png", class: "img-responsive"

%br
%br
.row
  .col-xs-12.text-center
    %h3
      = link_to "Fork us on GitHub!", "https://github.com/CodeForPortland/trailheadit"
      
%br
%hr
.row
  .col-xs-12.text-center
    :erb
      This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>
      