!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Trailheadit!'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Trailheadit'}"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    :erb
      <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
      <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />

  %body
    %header
      = render 'layouts/navigation'

    %div.main
      = render 'layouts/messages'    
      = yield
